<footer>
    <div class="container-fluid">
        <div id="footer">
            <img src="/../images/png-clipart-facebook-twitter-and-instagram-logo-social-media-facebook-computer-icons-social-networking-service-like-us-on-facebook-text-logo.png"
                id="logo2">
            <div id="lnk2">
                <a href="/" id="right">&copy;Movie</a>
                <a href="/about" id="right">About</a>
                <a href="/contact" id="right">Contact</a>
            </div>

        </div>
    </div>
</footer>
</body>

</html>