<%- include('../partials/header.ejs')%>
    <div class="container-fluid h-75">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 pt-50">
                <div id="content">
                    <div>
                        <form action='/reviews' method='POST'>
                            <span class="fl ml-70">
                                <h4><label for="movie_name" class="old-ch">Movie Name</label>:</h4> &nbsp;&nbsp;<span
                                    class="mt-11"><input type="text" id="movie_name" name="movie_name"
                                        placeholder="Movie Name" required maxlength="20"></span>
                            </span>
                            <span class="fl ml-70">
                                <h4><label for="genre" class="old-ch">Genre</label>:</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="mt-11"><input type="text" id="genre" name="genre" placeholder="Genre" required></span>
                            </span>
                            <span class="fl ml-70">
                                <h4><label for="release" class="old-ch">Release</label>:</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="mt-11"><input type="text" id="release" name="release"
                                        placeholder="old/new" required ></span>
                            </span>
                            <span class="fl ml-70">
                                <h4><label for="review" class="old-ch">Review</label>:</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="mt-11"><textarea rows="5" id="review" name="review"
                                        placeholder="Review" required maxlength="300"></textarea></span>
                            </span>
                            <span class="fl ml-70">
                                <h4><label for="status" class="old-ch">Status</label>:</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                    class="mt-11"><input  id="status" name="status"
                                        placeholder="Available" required></span>
                            </span>
                            <br>
                            <br>
                            <button class="btn btn-success ml-300">Add Movie</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <img src="/../images/new.png" alt="" width="400" height="400">
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>