<%- include('./partials/header.ejs')%>
<div class="container-fluid h-75">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 pt-50">
        <span class="fl"><h4>Motive :</h4>&nbsp;<p class="clr-bl">We are a leading company in the field of movies & reviews.</p></span>
        <span class="fl"><h4>Team :</h4>&nbsp;<p class="clr-bl">We are a team of 50 people and the ceo of our company is Yash.</p></span>
        <span class="fl"><h4>Quote:</h4>&nbsp;<p class="clr-bl">One step at a time.</p></span>    
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

    <%- include('./partials/footer.ejs')%>