<%- include('./partials/header.ejs')%>
    <div class="container-fluid h-75">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 pt-50">
            <span class="fl"><h4>Phone Number :</h4>&nbsp;<span class="clr-bl">0000000000</span></span>
            <span class="fl"><h4>Email :</h4>&nbsp;<span class="clr-bl">aaaaa@aaa.com</span></span>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>