<%- include('./partials/header.ejs')%>
    <div class="container-fluid h-75">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 pt-100">
                <img src="../images/home-1.jpeg" alt="" width="500" height="400" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-6">
                <img src="../images/home.png" alt="" width="735" height="600" class="d-inline-block align-text-top">
            </div>

        </div>
    </div>

    <%- include('./partials/footer.ejs')%>